.row
  .col-lg-4.col-lg-offset-4
    .white.padding20.top50
      %h2.text-center Administrator Sign in

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

        .row.top30
          .col-lg-12
            = f.email_field :email, class: "form-control floating-label", placeholder: "Email"

        .row.top30
          .col-lg-12
            = f.password_field :password, autocomplete: "off", class: "form-control floating-label", placeholder: "Password"

        -# - if devise_mapping.rememberable?
        -#   .top30.checkbox
        -#     %label
        -#       = f.check_box :remember_me
        -#       Remember me
  
        .pull-right
          .top10
            = f.submit "Sign in", class: "btn btn-primary"

          -# .top10
          -#   = render "devise/shared/links"

        .clearfix
